body{
    background-image: url(../img/gallery/pic10.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
} 
.logo{
    height: 70px;
    width:200px;
    margin: 10px;
    padding: 15px;
}
.enquiry{
    /* border: 1px solid black; */
    width: 50%;
    padding: 20px;
    margin-left: 300px;
    background-color: #fff;  
    border-radius: 20px;
    margin-bottom: 50px;
}
.form-group{
    /* padding: 15px; */
    padding: 5px 10px;
    height: 40px;
    background-color: #fff;
}
h2{
    font-size: 24px;
    background-color: #9ddfd1;
    color: black;
    padding: 10px; 
    text-align: center;
    border-radius: 20px 20px 0 0; 
}
p, label{
    font-style: italic;
}
.btn{
    width: 100px;
    height: 50px;
    margin-left: 280px;
    padding-top: 20px;
}


/* ========= Footer section ========== */
.main-footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #0b404c;
    justify-content: space-around;
    align-items: center;
}
.main-footer .logo-2 img {
    height: 100px;
    width: 300px;
    padding: 40px;
    position: relative;
    top: 10px;
    /* left: 10px; */
}
.main-footer .nav-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
.main-footer .nav-links ul li {
    padding: 40px 20px;
}
.main-footer .nav-links ul li a {
    text-decoration: none;
    color: white;
}
.main-footer .nav-links ul li a:hover {
    text-decoration: underline;
    font-weight: 500;
}
.main-footer .socials {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.main-footer .socials .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
.main-footer .socials .icon a img {
    width: 32px;
    height: 32px;
    padding: 5px 10px;
}
.main-footer .socials {
    color: white;
}
